{% load static %}
<div class="header">
    <div class="navbar">
        <div class="nav-item-home"><a href="{% url 'home' %}"><img src="{% static 'img/home-icon.jpg' %}" alt="home-icon"></a></div>
        <div class="nav-item"><a href="{% url 'films' %}">Фильмы</a></div>
        <div class="nav-item"><a href="{% url 'series' %}">Сериалы</a></div>
        <div class="nav-item"><a href="{% url 'animation' %}">Мультфильмы</a></div>

        <div class="nav-search-panel">
            <form action="#" method="get">
                <input type="text" name="search" placeholder="Поиск...">
                <button type="submit">
                    <div>
                        <img src="{% static 'img/search.png' %}" alt="search">
                    </div>
                </button>
            </form>

        </div>
        <div class="nav-notification"><img src="{% static 'img/notification-icon.png' %}" alt="notification"></div>
        <div class="nav-profile dropdown dropdown__profile">
            <div class="dropdown__head">
                <img src="{% static 'img/profile.png' %}" alt="profile">
            </div>
            <div class="dropdown__body">
                {% if user.is_authenticated %}
                <div class="dropdown__body__it"><a href="{% url 'profile' %}">Мой профиль</a></div>
                <div class="dropdown__body__it"><a href="{% url 'subscription_list' %}">Оформить подписку</a></div>
                <div class="dropdown__body__it__divider"></div>
                <a href="{% url 'logout' %}"><div class="dropdown__body__it logout">Выход</div></a>
                {% else %}
                <div class="dropdown__authentication">
                    <a href="{% url 'login' %}"><div class="dropdown__body__it">Вход</div></a>
                    <a href="{% url 'register' %}"><div class="dropdown__body__it">Регистрация</div></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>